.node {
  cursor: grab;
}

.node text {
  font: 11px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}
